.stack-pane {
   -fx-background-image: url('file:/C:/Users/Contabilidad/Documents/NetBeansProjects/CountGest/src/main/resources/com/oficinaeahb/countgest/images/fondos/Fondo5.jpg');
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
   -fx-background-position: center;
   
}
